<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="main-wrapper">
    
    
    
 <div class="image-container">
　<%= image_tag asset_path('top-image.jpg'), class: 'top-image1' %>
 </div>
 
 
 <div class="shop-info-container">
  <h3 class="serif"> SHOPへようこそ</h3>
  <p class="serif">洗練されたアイテムをお楽しみください</p>
  <div class="margin40"><%= link_to "今すぐ新作アイテムをチェック", new_work_items_path %></div>
 </div>
 
 

<%= render 'static_pages/history_item' %>

</div>

   

  
 
  
 