<h3>NetShop</h3>

<p>このメールはNetShopアカウントのパスワードを再設定する方にお送りしています。下記のURLをクリックして本人認証を完了してください。</p>
<p>覚えのない場合は無視してください。このリンクの期限は２時間で切れます。</p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
