<h3>NetShop</h3>

<p>このメールは、NetShopアカウントでパスワードを再設定する方にお送りしています。下記のURLをクリックして、本人認証をしてください。</p>
<p>身に覚えのない場合はスルーしてください。このリンクは２時間で期限が切れます。</p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
