<div class="pc-shopping-info-wrapper">
 
  <div class="user-info-wrapper">
   <%= render 'shopping/order' %>
  </div>
  <%= render 'shopping/item' %>

</div>

<div class="phone-shopping-info-wrapper">
 
 <%= render 'shopping/phone_item' %>
 
 <div class="order-user-info-wrapper">
  <i class="fas fa-plus shopping-items-icon"></i>
  <%= render 'shopping/order' %>
 </div>

</div>
