<div class="pc-shopping-info-wrapper">
 
  <%= render 'shopping/user_info' %>
  <%= render 'shopping/item' %>

</div>

<div class="phone-shopping-info-wrapper">
 
 <i class="fas fa-plus shopping-items-icon"></i>
 <%= render 'shopping/phone_item' %>
 <%= render 'shopping/user_info' %>

</div>

