<div class="item-show-wrapper">
 <div class="item-show-container">
  <div class="item-show-left-wrapper">
  

 
   <%= render 'items/item_show_left' %>
  </div>
 
  <div class="item-show-right-wrapper">
   <%= render 'items/item_show_right' %>
  </div>

 </div>
</div>