/* 管理者画面のCSS */
.admin-wrapper {
  background-color: #f5f5f5;
 
  .admin-list {
    margin-bottom: 5%;
    
    ul {
     list-style: none;
     display: flex;
     padding-left: 0;
     
     li {
       flex: auto;
       background-color: white;
       border: 1px solid #EEE;
       padding: 2%;
       text-align: center;
       
       a {
         color: black;
       }
     }
    }
  }
  
  .admin-right {
     min-height: 90vh;
    .list-wrapper {
      padding: 0 5% 3% 5%;
    }
    
    a {
      display: inline-block;
      color: black;
    }
    
    #purchase-title {
      margin-top: 10%;
    }
  }
}

/* ipad未満のCSS */
@media (max-width: 767px) {
    .admin-list {
     ul {
      li {
       a {
         font-size: 3vw;
       }
      }
     }
    }
}

/* ipad以上のCSS */
@media (min-width: 768px) {
   .admin-list {
     ul {
      li {
       a {
         font-size: 1vw;
        }
      }
     }
   }
}