.password-reset-wrapper {
  padding-left: 10%;
  padding-right: 10%;
  
  h3 {
      margin-top: 0;
      padding-top: 20px;
      margin-bottom: 7%;
  }
  
  label {
      margin-top: 5%;
  }
  
  .btn {
      width: 100%;
      margin-top: 5%;
      background-color: black;
      color: white;
  }
}